<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
    <!-- The top quarter of the display containing the home button. -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <img class="img-responsive home-button center-block" src="{{HomeButton}}" />
        </div>
    </nav>

    <!-- Bottom portion of the screen containing the background and the
        aspect options. -->
    <div id="app-background">
        <div class="container">
            <div class="row">
                {{#each AspectTopColumns}}
                <div class="col-xs-6">
                    <div class="image-overlay">
                        <img class="img-responsive img-circle aspect-top-image center-block" src="{{Image}}" />
                        <img class="img-responsive aspect-circle center-block" src="{{ImageHolder}}" />
                    </div>
                    <div>
                        <img class="img-responsive aspect-text center-block" src="{{TextBox}}" />
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="row">
                {{#each AspectBotColumns}}
                <div class="col-xs-6">
                    <div class="image-overlay">
                        <img class="img-responsive img-circle aspect-bot-image center-block" src="{{Image}}" />
                        <img class="img-responsive aspect-circle center-block" src="{{ImageHolder}}" />
                    </div>
                    <div>
                        <img class="img-responsive aspect-text center-block" src="{{TextBox}}" />
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
